---
import DetailLayout from '../../layouts/DetailLayout.astro';
---

<DetailLayout 
  title="Caño Cristales - El Río de los Cinco Colores" 
  description="Descubre el majestuoso río conocido como el más hermoso del mundo, donde el agua cristalina se mezcla con los vibrantes colores de las macrófitas para crear un espectáculo único en la naturaleza."
  type="landscape"
>
  <div class="content-section">
    <h2 class="text-3xl font-bold mb-4">El Río Más Hermoso del Mundo</h2>
    <p class="text-lg mb-6">Ubicado en la Serranía de la Macarena, Meta, Caño Cristales es conocido como el "Río de los Cinco Colores" por sus tonalidades de rojo, amarillo, verde, azul y negro que se pueden observar en sus aguas.</p>
    
    <div class="image-gallery">
      <img src="https://img.travesiasdigital.com/cdn-cgi/image/quality=90,format=auto,onerror=redirect/2019/09/pedro-szekely-cano-cristales-.jpg" alt="Caño Cristales vista aérea" class="gallery-image w-full h-64 object-cover"/>
      <img src="https://uvn-brightspot.s3.amazonaws.com/assets/vixes/r/rio-cinco-colores_3.jpg" alt="Detalle de colores en Caño Cristales" class="gallery-image w-full h-64 object-cover"/>
      <img src="https://i.ytimg.com/vi/sCHFwIipGA0/maxresdefault.jpg" alt="Cascadas de Caño Cristales" class="gallery-image w-full h-64 object-cover"/>
    </div>

    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/P5erzCQXn2w" title="Caño Cristales en todo su esplendor" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="w-full h-96"></iframe>
    </div>
  </div>
</DetailLayout>